<%- include('./partials/header'); %>
<link rel='stylesheet' href='/stylesheets/style.css' />
<body>
<main>
  <div>

    <h1 id="add">ADD A SKILL</h1>
    <form action="/skills" method="POST">
      <div class="inptandbtn">

        <label>
          Skill:
          <input type="text" name="skill" class="crt-form">
        
        </label>

        <label>Description:
          <input type="text" name="description" class="crt-form">
        </label>

        <label>
          Level:
          <input type="text" name="level" class="crt-form">
        </label>

        <button type="submit">Add Skill</button>

      </div>
    </form>

  </div>

  
</main>

</body>